@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {

    font-family: Pacifico, cursive;
    letter-spacing: 3px;

}



h1 {
    font-size: 15px;
    text-align: center;
    color: #32533d;
    font-size: 50px;

}

.navUl {

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;


}

.storyPhoto {
    border: 2px solid #718474;
    border-radius: 20px;
    width: 50%;

}

.our-story {
    margin: 50px;
    padding: 10px;
    display: flex;
    gap: 20px;
}









footer {
    text-align: center;
    font-size: 15px;
}