@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

/* Generic */
body {
    font-family: 'Nanum Gothic', sans-serif;
}

/* Header styles */

#header {
    background-color: #6D8B74;
    color: #EFEAD8;
    text-align: center;
    padding: 15px;
}

#header .navUl .navLi {
    display: inline-block;
    margin: 0 auto;
    padding: 15px;

}

.navUl .navLi a {
    color: #EFEAD8;
    text-decoration: none;
    opacity: 1;

}

.navUl .navLi a:hover {
    opacity: 0.4;
}

/* Main sections */
/* Todo:  add the picture and make it round.as block element */

#our-story {
    background-color: #EFEAD8;
    padding: 20px;
}

#our-story .our-story-photo {
    width: 35%;
    margin: 0 auto;
}

#our-story .our-story-photo img {
    border: 2px solid #6D8B74;
    border-radius: 50%;



}

#our-story .our-story-text {
    text-align: center;
    color: #6D8B74;
    text-decoration: solid;
    padding: 20px;
}




/* Footer */
/* todo: fix the footer to be centered */

#footer {
    background-color: #6D8B74;
    color: #fff;


}

#footer .footer-content {
    text-align: center;
}

#footer p,
.footer-content .footer-icons,
.footer-content .footer-icon {
    display: inline-block;
}