/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

/* Shorts */
:root {
    --clr-green: #5e9a8e;
    --clr-light-green: #66978c;
    --clr-light-background: #f7faf9;
    --clr-gray: #3d3d3d;
    --clr-light-g: #f7faf9;
    --clr-survey: #728857;

    --h3-section-heading: 2.82rem;
    --p-section-size: 1.25rem;
}

body {
    font-family: 'Roboto', sans-serif;

    /* font-family: 'Great Vibes', cursive; */

}

/* Header and Navigation styles */

#header .header-wrapper {

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 25px 50px;
}


#header .header-wrapper .couple-logo h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px #999999;
    font-family: 'Great Vibes', cursive;
}

#header .header-wrapper .couple-logo a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--clr-green);
}

#header .header-wrapper .nav-ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;

}

#header .header-wrapper .nav-ul .nav-menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-green);
}

/* Invite section */

#invite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-image: url('./invite-photo.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;

    color: #fff;

    font-family: 'Great Vibes', cursive;

}

#invite .invite-text {
    border-radius: 50%;
    backdrop-filter: blur(5px);
    padding: 70px;
}

#invite .invite-text h2 {
    font-size: 72px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);

}

#invite .invite-text h4 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
    letter-spacing: 1px;
    line-height: 1.1;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px;

}

/* Story section */

#story {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px auto;
    background-color: var(--clr-light-g);
}

#story .img {
    width: 50%;

}

#story .img img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    padding: 25px;
}


#story .story-text {
    width: 50%;

    color: var(--clr-gray);
    padding: 20px 30px;
}

#story .story-text p {
    text-indent: 25px;
    font-style: italic;
    font-size: 150%;

}


/* Place section */

#date {
    background-color: var(--clr-light-g);
    opacity: 0.9;
    color: var(--clr-light-green);

    padding-bottom: 40px;
}

#date h3 {
    font-size: var(--h3-section-heading);
    font-weight: 700;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

#date .date-place {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#date .date-place p {
    font-size: var(--p-section-size);
    font-style: italic;

}

#date .date-place a {
    color: var(--clr-light-green);
    text-decoration: none;
    font-size: var(--p-section-size);

}

/* Details section */

#details {
    width: 80%;
    margin: 5% auto;
}

#details .details-card {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-light-background);
}

#details .details-card img {
    width: 50%;
}

#details .details-card .details-text {
    width: 50%;
    padding: 10%;
    color: var(--clr-gray);
}

#details .details-card .details-text h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 15px;
}

#details .details-card .details-text p {
    text-align: center;
}

/* Survey section */

#survey {
    width: 100%;
    height: 100vh;
    background-color: var(--clr-light-g);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 0 25px;
}

#survey .survey-text {
    width: 50%;
    text-align: center;
    color: var(--clr-gray);

}

#survey .survey-text h3 {
    font-size: 36px;
    margin-bottom: 25px;
    text-decoration: underline;
}

#survey .survey-text p {
    font-size: 24px;
    font-style: italic;
}

#survey .survey-button {
    background-image: url("./images/envelope.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;

}

#survey .survey-button a {
    position: relative;
    top: 65%;
    left: 41%;
    /* transform: translate(-50%, -50%); */

    text-decoration: none;
    font-size: 24px;
    border: 2px solid var(--clr-survey);
    border-radius: 8px;
    padding: 14px 28px;

    color: var(--clr-survey);
    background-color: transparent;
}

#survey .survey-button a:hover {
    color: white;
    background-color: var(--clr-survey);
}

/* Photos section */

#photos {
    background-image: url("./images/iwan-shimko-PhciG8fpRKw-unsplash.jpg");
    background-size: contain;
    opacity: 0.8;
    background-position: center;
    background-clip: content-box;
    height: 100vh;
}

#photos .text {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

}

#photos .text h3 {
    font-size: 36px;
    margin-bottom: 25px;
    text-decoration: underline;

}

#photos .text p {
    font-size: 24px;
    font-style: italic;

}

/* ToDo: 

check the margins, paddings and overall the whole positioning there!

*/